:root{
    --color:rgb(63, 63, 253);
    --black:black;
    --white:white;
    --fondo:#b6c3fb;
    --gris:#555;
}


body{
    margin: 0;
}

.general{
    display:grid;
    grid-template-areas: 
    "header"
    "main"
    ;

    grid-template-rows: 80px auto;
    min-width: 100vw; 
    min-height: 100vh;
}


.header{
    grid-area: header;
    background-color: white;

}

.header_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 100%;

}

.header_brand{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
}

.header_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-color:var(--color) ;
    padding: 0.7rem;
    color: var(--white);
    border: 1px solid ;
    border-radius: 12px;
    font-size: 0.7rem;
}

.header_title-group{
    display: flex;
    justify-content:center;
    flex-direction: column;
}

.header_school-name{
    font-size: 0.7rem;
    font-weight: 600;
}

.header_platform-type{
    font-size: 0.5rem;
}

.navbar_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.navbar_link_resolve {
    background-color: var(--color);
    color: var(--white);
    padding: 0.4rem 1rem;
    border-radius: 6px;
    font-size: 0.7rem;
    text-decoration: none;
    text-align: center;
    width: fit-content; 
    margin-bottom: 0.2rem;
}


.navbar_link_login{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-decoration: none;
    color: var(--black);
}


.header_acces{
    display: flex;
    justify-content: center;
    align-items: center;
}

.acces{
    font-size: 0.7rem;
}

.formularios{
    background-color: #ffffffe0;
    margin: 0.5rem;
    padding: 0.4rem;
    border-radius: 8px;
    box-shadow:  1px 5px 5px rgba(75, 75, 75, 0.123);
}

.formularios div{
  display: grid;
  grid-template-rows: auto auto;
  gap: 5px;
  margin-bottom: 5px;
}

.formularios input{
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  font-size: 20px;
}

.formularios input:focus {
    outline: none;
}

.formularios textarea{
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  font-size: 20px;
}

.formularios textarea:focus {
    outline: none;
}


body{
  background-color: var(--fondo);
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulos{
  margin: 0.5rem;
}

.info-examenes{
    display: grid;
    grid-template-rows: auto auto;
}

.parte_inferior_form {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.parte_inferior_form button{
  border-radius: 5px;
  padding: 6px;
  border: 1.5px solid #0004ff;
  background-color: #5582ff;
  transition: all 0.3s ease;
  cursor: pointer;
}

.parte_inferior_form button:hover{
    box-shadow:  1px 5px 5px rgba(75, 75, 75, 0.123);
    background-color: rgb(57, 93, 255);
    transform: scale(1.03);
}

.examenes-registrados{
    background-color: #ffffffe0;
    margin: 0.5rem;
    padding: 0.4rem;
    border-radius: 8px;
    box-shadow:  1px 5px 5px rgba(75, 75, 75, 0.123);
    min-width: 0;

}

.examenes-registrados table{
    width: 100%;
    border-collapse: collapse;

}

.examenes-registrados th, .examenes-registrados td{
    border: 1px solid #d1d1d1;
    padding: 8px;
    text-align: left;
}


.examenes-registrados table {
    font-size: 8.8px;
}

.examenes-registrados th,
.examenes-registrados td {
    padding: 4px 6px;
}

.btn-borrar{
    background-color: #ff4d4d;
    color: white;
    border: none;
    font-size: 7px;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-borrar:hover {
    background-color: #ff1a1a;
}

.btn-editar{
    background-color: #4CAF50;
    color: white;
    font-size: 7px;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-editar:hover {
    background-color: #45a049;
}

.cantidadRegistros{
    border-radius: 5px;
    border: 1.5px solid #0004ff;
    background-color: #5582ff;
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    color: white;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;

}

#examenPregunta{
    border: 1px solid #c9c9c9;
    border-left: 5px solid var(--fondo);
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
}

#examenPregunta div{
    display: flex;
}

#examenPregunta div{
    display: flex;
}

#examenPregunta label{
    display: flex;
    margin-top: 10px;
}

#examenPregunta label input{
    font-size: 15px;
}

#examenPregunta div button{
    border: 1px solid rgb(160, 160, 160);
    border-radius: 8px;
    color: #ff1a1a;
    background-color: #ffffffe0;
}

#examenPregunta label button{
    border: 1px solid rgb(160, 160, 160);
    border-radius: 8px;
    color: #ff1a1a;
    margin-left: 10px;
    background-color: #ffffffe0;
}

#check{
    border-radius: 500px;
    background-color: #ffffff;
}

#examenPregunta div #agregar{
    margin: 10px;
    padding: 4px 8px;
    color: var(--fondo);
    border-radius: 5px;
    border: 1px solid #b1b1b1f0;
    transition: all 0.3s ease;
     cursor: pointer;
}

#examenPregunta div #agregar:hover{
    transform: scale(1.05);
    background-color: var(--fondo);
    color: white;
}

#examenPregunta div #limpiar{
    margin: 10px;
    padding: 4px 8px;
    color: var(--fondo);
    border-radius: 5px;
    border: 1px solid #b1b1b1f0;
    transition: all 0.3s ease;
    cursor: pointer;
}

#examenPregunta div #limpiar:hover{
    transform: scale(1.05);
    background-color: var(--fondo);
    color: white;
}

.parte_inferior_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/* .tabla-scroll {
  overflow-x: auto;
  width: 100%;

} */


/* TABLET MEDIDAS */
@media (min-width: 768px){


}


/* PC MEDIDAS */
@media (min-width: 1024px){


}